In [59]:
import numpy as np
import pandas as pd
import cv2
import PIL
import pytesseract
from pytesseract import Output  # Import Output from pytesseract

In [75]:
import pytesseract
from pdf2image import convert_from_path

In [76]:
pages = convert_from_path('/Users/octo/Documents/data-Sante/ce-maj.pdf', 300)  # 300 is the DPI (dots per inch)

first_page_df = None
for page_number, page in enumerate(pages):
    # Extract detailed OCR data as a dictionary
    data = pytesseract.image_to_data(page, output_type=Output.DICT)
    text = pytesseract.image_to_string(page)
    

    
    # (Optional) Print the extracted text or data
    print(f"Text from page {page_number + 1}:\n{text}\n")
    # Convert the dictionary to a DataFrame
    df = pd.DataFrame(data)
    
    # Add a column to indicate the page number (optional)
    df['page_number'] = page_number + 1
    if page_number == 0:
        first_page_df = df.copy()
    
    # Append the DataFrame to the list
    dfs.append(df)

# Combine all the DataFrames into one (if there are multiple pages)
final_df = pd.concat(dfs, ignore_index=True)

Text from page 1:
CERTIFICAT D'ENREGISTREMENT

PARTIE I : RESERVEE AU DEMANDEUR

Statut du (des) dispositif(s) :

Dispositif médical seul Fabriqué localement

Importé

Importé semi-fini

Désignation du (des) dispositif (s) :

Nom de marque/Nom (s) commercial (aux) eGaa>
Présentation (s)

Numéro(s) de(s) référence(s) ou de série :Voir Annexe

Classe de risque

Code CE (pour les dispositifs médicaux marqués CE) Ga»
Catégorie

Informations administratives :

- Nom et adresse de 1'établissement marocain

- Nom et adresse de 1’établissement de fabrication :

- Nom et adresse du sous-traitant (en cas de sous-traitance): N/A

Signature et cachet du représentant légal de 1’établissement demandeur :

PARTIE II : RESERVEE AU MINISTERE DE LA SANTE ET DE LA PROTECTION

SOCIALE

Suite a l’avis de la Commission Nationale Consultative des Dispositifs Médicaux réunie
le .........-.2.- , le (les) dispositif(s) médical (s) dont les caractéristiques sont
indiquées a la partie I ci-dessus est (sont) enregistré(s) au Ministere de la Santé et
de la Protection Sociale sous le N° 1000/2023/......... -2024/DM/DPS/DMP/18. en date du
ewe ewe ew ene conformément aux dispositions de la loi n°84-12 et des textes pris pour son
application.

Ce certificat est valable jusqu’au ..............
Actualisation du certificat d’enregistrement N°666 Du 2023-12-27.

Signature et cachet du Ministre de la Santé et de la Protection Sociale ou de son
délégataire

Page 1/2 AM



Text from page 2:
Annexe

Certificat d’enregistrement N°1000/2023/......... -2024/DM/DPS/DMP/18.
valable jusqu’au ..............

Liste de(s) référence(s) du dispositif médical

Numéro(s)de référence(s) ou de série(s)
SS

Annexe 2/2 AM

In [104]:
import tabula
import pandas as pd

# Read the PDF file into a list of DataFrames (one DataFrame per table)
dfs = tabula.read_pdf('/Users/octo/Documents/data-Sante/wordCE.pdf', pages='all', multiple_tables=True)
combined_df = pd.concat(dfs, ignore_index=True)

In [78]:
combined_df.head()

  Nom Commercial  Numéro(s)de référence(s) ou de série(s)
0             DD                                     1234
1            EEE                                  9848948
2            OOO                                   939393
3           RTTR                                     9999

In [102]:
first_page_df.query("block_num == 8.0 and conf >=90")

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,page_number
47,5,1,8,1,1,1,227,1106,260,35,91,Désignation,1
48,5,1,8,1,1,2,515,1107,44,26,96,du,1
49,5,1,8,1,1,3,593,1107,104,34,93,(des),1
50,5,1,8,1,1,4,731,1106,235,35,91,dispositif,1
51,5,1,8,1,1,5,1001,1109,56,32,91,(s),1
52,5,1,8,1,1,6,1097,1116,8,17,91,:,1
55,5,1,8,2,1,1,226,1160,72,23,96,Nom,1
56,5,1,8,2,1,2,323,1157,44,26,90,de,1
57,5,1,8,2,1,3,393,1155,241,36,90,marque/Nom,1
58,5,1,8,2,1,4,665,1159,56,32,91,(s),1
59,5,1,8,2,1,5,755,1156,235,27,96,commercial,1
60,5,1,8,2,1,6,1025,1159,104,32,95,(aux),1
63,5,1,8,2,2,1,227,1206,284,27,93,Présentation,1
64,5,1,8,2,2,2,545,1209,56,32,90,(s),1
67,5,1,8,3,1,1,226,1256,207,35,92,Numéro(s),1
68,5,1,8,3,1,2,467,1257,110,34,92,de(s),1
69,5,1,8,3,1,3,611,1256,278,35,91,référence(s),1
70,5,1,8,3,1,4,923,1265,44,18,96,ou,1
71,5,1,8,3,1,5,995,1257,44,26,96,de,1
72,5,1,8,3,1,6,1068,1256,115,27,93,série,1
73,5,1,8,3,1,7,1217,1256,110,27,91,:Voir,1
74,5,1,8,3,1,8,1353,1260,142,23,96,Annexe,1
77,5,1,8,4,1,1,227,1307,140,27,96,Classe,1
78,5,1,8,4,1,2,395,1307,44,26,96,de,1
79,5,1,8,4,1,3,467,1306,140,35,96,risque,1
82,5,1,8,5,1,1,227,1357,92,27,96,Code,1
83,5,1,8,5,1,2,347,1359,43,25,96,CE,1
84,5,1,8,5,1,3,425,1359,110,32,96,(pour,1
85,5,1,8,5,1,4,565,1357,64,26,93,les,1
86,5,1,8,5,1,5,659,1356,258,35,91,dispositifs,1
87,5,1,8,5,1,6,945,1356,191,27,92,médicaux,1
88,5,1,8,5,1,7,1161,1356,164,35,91,marqués,1
89,5,1,8,5,1,8,1355,1359,62,32,96,CE),1
92,5,1,8,5,2,1,227,1406,212,35,96,Catégorie,1

In [103]:

# Assuming df is your DataFrame

# Step 1: Group words by line and concatenate them into a single string
grouped_df = first_page_df.groupby(['page_number', 'block_num', 'par_num', 'line_num'])['text'].apply(lambda x: ' '.join(x)).reset_index()

# Step 2: Rename the 'text' column to 'Value'
grouped_df.rename(columns={'text': 'Value'}, inplace=True)

# Step 3: Apply keyword filtering (for example, filtering lines that contain the word 'DEMANDEUR')
keywords = ['ENRIGISTREMENT', 'Désignation','marocain','Code CE','les dispositifs','Catégorie']  # Add your keywords here
#filtered_df = grouped_df[grouped_df['Value'].str.contains('|'.join(keywords), case=False, na=False)]
#df_filtered = grouped_df[grouped_df['Value'].apply(lambda x: any(keyword in x for keyword in keywords))]
df_filtered = grouped_df[grouped_df['Value'].apply(lambda x: any(f' {keyword} ' in f' {x} ' for keyword in keywords))]


# Display the df_filtered DataFrame with only the 'Value' column
pd.set_option('display.max_colwidth', None)  # or you can set a specific width like 500, or None for no truncation

print(df_filtered[['Value']])
print(grouped_df)

                                                      Value
24                    Désignation du (des) dispositif (s) :
33   Code CE (pour les dispositifs médicaux marqués CE) Ga»
34                                                Catégorie
42             - Nom et adresse de 1'établissement marocain
    page_number  block_num  par_num  line_num                         Value
0             1          0        0         0
1             1          1        0         0
2             1          1        1         0
3             1          1        1         1   CERTIFICAT D'ENREGISTREMENT
4             1          2        0         0
..          ...        ...      ...       ...                           ...
75            1         17        1         0
76            1         17        1         1                   Page 1/2 AM
77            1         18        0         0
78            1         18        1         0
79            1         18        1         1

[80 rows x 5 columns]

In [106]:
pv_df = pd.read_excel('/Users/octo/Documents/data-Sante/pv.xlsx')

In [107]:
pv_df.head()

,ID,N° Enrg,Année Enrg,N° & ANNEE ENRG,DESIGNATION,TYPE DEMANDE,CLASSE RISQUE,S/C RISQUE,SOCIETE MAROCAINE,NOM FABRICANT,NOM MARQUE,CODE CE,AVIS COMMISSION
0,10,500.0,2024.0,NaN,TEST,TYPE DEMANDE,RAS,RAS,DIGIUP,F10,Marque,0.0,OK
1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN